
# Env file
.env
docker-compose.override.yml

.Gemfile
.ruby-version
/*/doc/
/*/test/tmp/
/.bundle
/dist/
/doc/
/guides/output/
Brewfile.lock.json
debug.log
node_modules/
package-lock.json
pkg/
/tmp/
/yarn-error.log
/test-reports/
